
/*
black: #010101
orange: #ca5a39
light orange: #f6b8a6
blue: #97b0c4
light blue: #c8d8e5
*/

body {    
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-weight: 11px;
    background-color: white;
    text-align: center;
    color: #010101;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
}
img {
    border: 0px;   
}
a {
    color: #010101;   
}
.frame {
    margin: auto;
    text-align: left;
    width: 753px;
    margin-top: 30px;    
}
.menu {
    width: 128px;
    font-size: 18px;
    color: #ca5a39;
    margin-top: 75px;
    text-align: right;
    vertical-align: top;
}
.menu_item {
    margin-top: 6px;
    margin-bottom: 6px; 
    padding: 4px;
    padding-right: 8px;
    cursor: pointer;
}
.submenu_item {
    margin-top: 4px;
    margin-bottom: 4px; 
    padding: 2px;
    padding-right: 8px;
    cursor: pointer;
}
.menu_hover {
    background-color: #c8d8e5;   
}
.submenu {
    color: #010101;
    font-size: 16px;   
}
.page {
    width: 600px;
}
.headline {
    width: 58px;
}
.v_divider {
    height: 20px;
}
.h_divider {
    width: 10px;   
}
.color_bar {
    height: 5px;
    width: 100%;
    font-size: 1px;
    background-color: #c8d8e5;
}
.content {
    font-size: 14px;
}
.footer {
    color: #010101;
    margin-top: 5px;
    font-size: 10px;
}
.footer a {
    color: #010101;
}
.mytd {
    vetrical-align: top;
    margin: 0px;
    padding: 0px;   
}
.section_heading {
    font-weight: bold;
}
.headline_div {
    width: 538px;   
}
.indent {
    margin-left: 2px;    
    padding-left: 8px;
    border-left: 2px solid #97b0c4;   
    margin-top: 8px;
    margin-bottom: 26px;
    font-size: 12px;    
}
.r_indent {
    margin-right: 2px;    
    padding-right: 8px;
    margin-top: 8px;
    margin-bottom: 26px;
    font-size: 12px;
}

.content_image { 
    border-left: 20px solid #010101;
    margin-left: 8px;
    margin-bottom: 8px;
}
.content_image_r { 
    border-right: 20px solid #010101;
    margin-right: 8px;
    margin-bottom: 8px;
}
.expander_link {
    text-decoration: underline;
    cursor: pointer;      
}
.drop_cap {
    float: left;
    color: #97b0c4;
    font-size: 40px;
    line-height: 30px;
    padding-top: 2px;    
    padding-right: 2px;        
}
.loc_thumb {
    margin-bottom: 10px;
    margin-right:  10px;
    cursor: pointer;
    border: 1px solid black;
}
#sermonsub-style1 {
    
}

#sermonsub-style2 {
    
}

#sermonlink {
    color: #010101;
}

.order_of_worship_item {
  font-weight: bold;
  padding-left: 25px;
}

.order_of_worship_detail {
  font-style: italic;
  padding-left: 40px;
}

