
div#logo a {
  display: block;
  width: 100%;
  height: 100%;
}
#footer_text a {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: underline; white-space: nowrap;
}

    
#key_visual {
   background: url(images/dynamic/key_visual9.jpg) no-repeat;
}
#slogan {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
a.main_nav_active_item {
  background: url(images/dynamic/buttonset10/n1active.gif) no-repeat;
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #719F32;
  background-position: top left;
}
a.main_nav_item {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #536E51;
}
a.main_nav_item:hover {
  background: url(images/dynamic/buttonset10/n1active.gif) no-repeat;
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #719F32;
  background-position: top left;
}
a.sub_nav_active_item {
  background: url(images/dynamic/buttonset10/sn1active.gif) no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
  color: #4B5556;
}
a.sub_nav_item {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
  color: #EEEFE9;
}
a.sub_nav_item:hover {
  background: url(images/dynamic/buttonset10/sn1active.gif) no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
  color: #4B5556;
}
.content h1 {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 29px;
  font-weight: bold;
  text-decoration: none;
  color: #41563F;
}
.content h2 {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #999;
}
.content h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #567153;
}
.content, .content p {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #41563F;
}
.content a:link {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: bold;
  text-decoration: underline;
  color: #719F32;
}
.content a:visited {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: bold;
  text-decoration: underline;
  color: #719F32;
}
.content a:hover {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: bold;
  text-decoration: underline;
  color: #719F32;
}
.content a:active {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: bold;
  text-decoration: underline;
  color: #719F32;
}
#footer_text {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}

