
body {    
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-weight: 11px;
    background-image: url('images/background.png');
    background-repeat: repeat-x;
    background-color: black;
    text-align: center;    
    color: white;
    margin: 0px;
    padding: 0px;
    overflow: none;
}

img {
    border: 0px;   
}

a {
    color: #010101;   
}

.top_spacer {
  height: 50px; 
}

.shadow_top {
  width: 100%;
  height: 37px;
  background-image: url('images/shadow_top.png');
  background-repeat: repeat-x; 
}

.shadow_bottom {
  width: 100%;
  height: 37px;
  background-image: url('images/shadow_bottom.png');
  background-repeat: repeat-x;   
}

.content {
  border-top: 8px solid black;
  border-bottom: 8px solid black;  
  height: 442px;
  width: 100%;
  background-color: #a8b5bb;
}


.float_img {
  width: 0px;
  height: 0px;
  position: relative;
}

.logo {
  left: 33px;
  top: 31px;
  z-index: 2;  
}

.color_bar {
  top: 0px;
  left: 173px;
  z-index: 1;
}

.code_of_arms {
  left: 527px;
  top: 302px;
}

.menu {
  left: 527px;
  top: 27px;
  position: relative;
  width: 0px;
  height: 0px;
  overflow: visible;
}

.menu_item {
  cursor: pointer;  
}

#copy { 
  left: 313px;
  top: 131px;
  position: relative;
  width: 625px;
  height: 300px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
}